body 
{

    background-color:#fcf0eb;
    font-family: Roboto,Arial,Helvetica,Sans-serif;
    color:#4a4a49;
}
    .form-control 
{
    font-size: 16px;
	background: #f2f2f2;
	box-shadow: none !important;
	border-color: transparent;
}
    .form-control:focus 
{
	border-color: #d3d3d3;
}
    .form-control, .btn 
{        
    border-radius: 2px;
}
    .login-form 
{
	width: 380px;
    margin: 0 auto;
    margin-top:5%;
}
    .login-form h2 
{		
    margin: 0;
	padding: 30px 0;
    font-size: 34px;
}
    .login-form .avatar 
{
	margin: 0 auto 30px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
    background: #f6f6f6;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
    .login-form .avatar img 
{
	width: 100%;
}
    .login-form form 
{
	color: #7a7a7a;
	border-radius: 4px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;		
}	
    .login-form .btn
{
    font-weight: bold;
	background:#ed7f7a;;
	border: none;
	margin-bottom: 20px;
}
    .login-form .btn:hover, .login-form .btn:focus 
{
	background: #f1af09;
    outline: none !important;
}
    .login-form a 
{
	color: #ef3b3a;
}	
    .login-form form a 
{
	color: #ef3b3a;
}
    .login-form a:hover, .login-form form a:hover 
{
	text-decoration: underline;
}
    .hint-text 
{
	color: #999;
	text-align: center;
}
    .form-footer 
{
    padding-bottom: 15px;
	text-align: center;
}
    .footer 
{
    background-color:#e4423b;
    padding-bottom:12px;
    font-family: lato;
    color:white;
    font-size:15px;
    position:relative;
    top:194px;       
    line-height:120%;
    letter-spacing:2px;
}
    hr 
{
    border: 0;
    height:4px;
    width:55%;
    background: #f8998e;
    background-image: linear-gradient(to right, #f1af09, #f8998e, #f1af09);
}
#itens_rodape 
{
    font-weight:bold;
    padding-top: 1%;
    letter-spacing:2px;
    font-size: 1.5em;
}
   
