body 
{
  background-color: #fcf0eb; 
  position:justify;
  margin:0;
  padding:0;
  font-family: Verdana, serif;
}
#logo_studio /* definir altura e largura (respectivamente) do logo situado no topo da página */ 
{
  width: 100%;
  height: 135px;
}

#p
{
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background-color: black;
}
.div1 
{
  font-size: px;
  text-align: justify;
  margin-top: -1%;
  margin-left:30%;
  margin-right:30%;
  color:#707070;
  letter-spacing:1px;
  padding-top:1%;
  padding-bottom:1%;
}
.fundo 
{
background-color:white; 
height:30%;
}


  
.footer {
  background-image: linear-gradient(to right, rgb(201, 81, 81), rgb(238, 53, 53));
  color: #ddd;
  padding: 2rem;
  margin-top: 50%;
}
a {
    color: #aaa;
}
hr {
    border: 0;
    height: 1px;
    color: neutral;
    line-height: 1.5;
}


.flip-card {
  background-color: transparent;
  width: 330px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}