body 
{
  background-color: #fcf0eb; 
  position:justify;
  margin:0;
  padding:0;
  font-family: Verdana, serif;
}
#logo_studio /* definir altura e largura (respectivamente) do logo situado no topo da página */ 
{
  width: 100%;
  height: 135px;
}

#p
{
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  background-color: black;
}
.div1 
{
  font-size: px;
  text-align: justify;
  margin-top: -1%;
  margin-left:30%;
  margin-right:30%;
  color:#707070;
  letter-spacing:1px;
  padding-top:1%;
  padding-bottom:1%;
}
.fundo 
{
background-color:white; 
height:30%;
}

#btn.btn-primary {
  color: #3a3838;
	border-radius: 20px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;		
}

  
.footer {
  background-image: linear-gradient(to right, rgb(201, 81, 81), rgb(238, 53, 53));
  color: #ddd;
  padding: 2rem;
  margin-top: 15%;
}
  a {
    color: #aaa;
  }
  hr {
    border: 0;
    height: 1px;
    color: neutral;
    line-height: 1.5;
  }

#col {
  width: 100%;
  @media screen and (min-width: 640px) {
    float: left;
  }
  }
  .tab-row{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
  }


.col-4 {
  @extend %col;
  @media screen and (min-width: 640px) 
    width: 33%;
  }


.col-6 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 50%;
  }
}

.col-12 {
  @extend %col;
  width: 100%;
}
.redessociais {
  width: 2%;
}
.navbar-nav{
  font-size: 120%;  
}
