body>div {
    transition: all 0.3s ease;
    color: black;
    background-color: #fcf0eb;
}

body
/* estilização do esqueleto da página */

{
    background-color: #fcf0eb;
}

#logo_studio
/* definir altura e largura (respectivamente) do logo situado no topo da página */

{
    width: 100%;
    height: 135px;
}

.icone_usuariodiv:hover
/* estilização da div (.icone_usuariodiv) atráves da pseudoclasse hover */

{
    box-shadow: 8px 6px #f1af09, 7px 5px #f1af09, 6px 4px #f1af09;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    /* comandos de propriedades de transformação da sombra */
}

.icone_usuariodiv {
    background: #ed7f7a;
    width: 260px;
    height: 320px;
    margin-top: 16px;
    float: left;
    margin-left: 10px;
    color: white;
}

#icone_perfil_usuario {
    margin-left: 75px;
    margin-top: 32px;
}

#texto-iconeusuario {
    margin-top: 12%;
    font-size: 18px;
}

#titulo {
    margin-left: 296px;
    color: #4a4a49;
    margin-top: 3%;
    font-family: arial, verdana, sans-serif;
}

#subtitulo {
    margin-right: 20px;
    margin-left: 296px;
    color: #4a4a49;
    margin-top: 3%;
    font-size: 25px;
    font-family: arial, verdana, sans-serif;
}

.ui-datepicker-header {
    background-color: #cfd2d4 !important;
}

.footer {
    background-color: #e4423b;
    color: white;
    padding-bottom: 12px;
    font-family: lato, arial;
    font-size: 15px;
    margin-top: -8%;
}

hr {
    border: 0;
    height: 4px;
    width: 55%;
    background: #f8998e;
    background-image: linear-gradient(to right, #f1af09, #f8998e, #f1af09);
}

#itens_rodape {
    padding-top: 1%;
}

.form-cadastro {
    border: solid #cfd2d4;
    background-color: white;
    padding: 6%;
    padding-top: 2%;
    margin: 10%;
    margin-top: 3%;
    padding-bottom: 2%;
}

.btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger {
    margin-top: 1%;
}

.card-title {
    font-size: 30px;
}

.navbar-nav {
    font-size: 120%;
}