body 
{
  background-color: #fcf0eb; 
  position:justify;
  margin:0;
  padding:0;
  font-family: Verdana, serif;
}
#logo_studio /* definir altura e largura (respectivamente) do logo situado no topo da página */ 
{
  width: 100%;
  height: 135px;
}

.div1 
{
  font-size: 20px;
  text-align: justify;
  margin-top: -1%;
  margin-left:20%;
  margin-right:20%;
  color:#4a4a49;
  letter-spacing:2px;
  padding-top:1%;
  padding-bottom:1%;
}
.fundo 
{
background-color:#f4ecec; 
height:30%;
}
.footer {
  background-image: linear-gradient(to right, rgb(201, 81, 81), rgb(238, 53, 53));
  color: #ddd;
  padding: 2rem;
  margin-top: 15%;
}
  a {
    color: #aaa;
  }
  hr {
    border: 10%;
    height: 1px;
    color: neutral;
    line-height: 1.5;
  }

#col {
  width: 100%;
  @media screen and (min-width: 640px) {
    float: left;
  }
  }
  .tab-row{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
  }


.col-4 {
  @extend %col;
  @media screen and (min-width: 640px) 
    width: 33%;
  }


.col-6 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 50%;
  }
}

.col-12 {
  @extend %col;
  width: 100%;
}
.redessociais {
  width: 2%;
}
.navbar-nav{
  font-size: 120%;  
}
* {margin: 0; padding: 0;}
a,img {border: none;}
.trs {-webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;}  
#slider {position: relative; z-index: 1;}
#slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
.ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}

/*controladores*/
span {background: #0190EE; cursor: pointer; opacity: 0;filter:alpha(opacity=0); position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5;}
.next {right: 10px;}
.next:before,.next:after {left: 21px;}
.next:before {
    -webkit-transform: rotate(-42deg);
    top: 5px;
}
.next:after {
    -webkit-transform: rotate(-132deg);
    top: 19px;
}
.next:before,.next:after,.prev:before,.prev:after {content: "";
    height: 20px;
    background: #fff;
    width: 1px;
    position: absolute;
}
.prev {left: 10px;}
.prev:before,.prev:after {left: 18px;}
.prev:before {
    -webkit-transform: rotate(42deg);
    top: 5px;
}
.prev:after {
    -webkit-transform: rotate(132deg);
    top: 19px;
}

figure:hover span {opacity: 0.76;filter:alpha(opacity=76);}
    figure {
    max-width: 937px;
    height: 354px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}

figcaption {padding-left: 20px;color: #fff; font-family: "Kaushan Script","Lato","arial"; font-size: 22px; background:#ddd; width: 100%; position: absolute; bottom: 0; left: 0; line-height: 55px; height: 55px; z-index: 5}