body 
{
  background-color: white; 
}
#logo_studio /* definir altura e largura (respectivamente) do logo situado no topo da página */ 
{
  width: 100%;
  height: 135px;
}
#iframe1 {
  margin-top:2%;
  margin-left:20%;
}
.jumbotron-fluid {
  padding-top:2%;
  padding-bottom:2%;
  margin-top:1%;
  color:#707070;
}
#jumbotron-fluid1 {
  background-color:white;
  margin-top:1%;
}
   
.footer {
  background-image: linear-gradient(to right, rgb(201, 81, 81), rgb(238, 53, 53));
  color: #ddd;
  padding: 2rem;
  margin-top: justify;
}
  a {
    color: #aaa;
  }
  hr {
    border: 10%;
    height: 1px;
    color: neutral;
    line-height: 1.5;
  }

#col {
  width: 100%;
  @media screen and (min-width: 640px) {
    float: left;
  }
  }
  .tab-row{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    float: none;
  }


.col-4 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 33%;
  }
}

.col-6 {
  @extend %col;
  @media screen and (min-width: 640px) {
    width: 50%;
  }
}

.col-12 {
  @extend %col;
  width: 100%;
}
.redessociais {
  width: 2%;
}
.navbar-nav{
  font-size: 120%;  
}
   